<!DOCTYPE html>
<html lang="en" class="w-full h-screen">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="description" content="">
        <title></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="canonical" href="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/reset.css">
    </head>
    <body class="w-full h-screen relative font-general font-thin overflow-x-clip">
        <header>
        </header>
        <main class="w-full h-full" style="opacity: 0%;">
            <section class="h-[650px] relative w-full bg-red-500">
                <nav class="absolute left-[50%] -translate-x-[50%] top-12 w-[75%] box-border p-1 border border-solid border-white border-opacity-25 bg-opacity-[37%] backdrop-blur-2xl bg-white rounded-full flex justify-between items-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" class="h-4 ml-2" alt="">
                    <div class="flex justify-between w-max gap-4 text-sm">
                        <a href="">Home</a>
                        <a href="">Store</a>
                        <a href="">Mac</a>
                        <a href="">iPad</a>
                        <a href="">iPhone</a>
                        <a href="">Watch</a>
                    </div>
                    <a href="" class="box-border text-sm p-0 px-3 w-max h-max border border-solid border-white border-opacity-25 bg-opacity-[37%] backdrop-blur-2xl bg-white rounded-full">Account</a>
                </nav>
                <img src="https://www.apple.com/v/airpods-max/e/images/overview/hero__gnfk5g59t0qe_large_2x.png" class="z-10 absolute left-[50%] top-[53%] -translate-x-[50%] -translate-y-[50%] h-[400px]">
                <h1 class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] text-[#1D1D1F] text-7xl w-full text-center font-bold">Sound Re-Imagined</h1>
            </section>
            <section class="h-[600px] relative w-full bg-white">
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="/js/smooth-scroll.js"></script>
    </body>
</html>
